
<!-- MAIN CONTENT -->
<main class="main_contact-us">

    <% if(returnMessageArray != 'undefined') { %> 
        <h2 class="contactform_submit-message"><%=returnMessageArray%></h2>
    <%} else {%>
    <!-- contactform wrapper -->
    <div class="contactform-wrapper">
        <section class="contactform-headings-section">
            <h2 class="contactform-heading">CONTACT US</h2>
            <p class="contactform-subheading">Submit a support ticket by filling in the form below</p>
        </section>

        <form method="post" class="contactform">
            <div class="contactform_input-wrapper">
                <label for="contactformname"></label>
                <input type="text" name="contactformname" id="contactform_name" class="contactform_name"
                placeholder="name"
                value="<% %>"
                >
            </div>
            <div class="contactform_input-wrapper">
                <label for="contactformemail"></label>
                <input type="text" name="contactformemail" id="contactform_email" class="contactform_email"
                placeholder="email"
                value="<% %>"
                >
            </div>


            

            <div class="select-section">
                <select name="contactformsubject" id="select-box" class="select-box">
                    <!-- her skal jeg lave dynamisk indhold i options -->
                    <% if(messagesubjects != 'undefined') { %>
                        <% messagesubjects.forEach(subject => { %>
                        <option
                        value="<%=subject.messagecategory_id%>"
                        ><%=subject.messagecategory_name%></option>
                        <%})%>
                    <%}%>
                </select>
            </div>

            <div class="contactform_input-wrapper">
                <textarea 
                id="contactform__message" 
                name="contactformmessage" 
                class="contactform__message" 
                cols="30" 
                rows="10" 
                placeholder="Message">
                </textarea>
            </div>
            
            <button class="contactform_submit-button" type="submit">SEND</button>
        </form>
    </div>
    <% } %>
</main>
