<link rel="stylesheet" href="/styles.css">

<!-- DER SKAL VÆRE EN TITLE VARIABEL I RES.RENDER, FØR TITLE KAN SENDES DEN MED -->
<!-- <title><%= typeof title != 'undefined' ? title : '' %></title> -->
