<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

<!-- DER SKAL VÆRE EN TITLE VARIABEL I RES.RENDER, FØR TITLE KAN SENDES DEN MED -->
<!-- <title><%= typeof title != 'undefined' ? title : '' %></title> -->
