<select>
	<option value="volvo">0-9</option>
	<option value="saab">A</option>
	<option value="opel">B</option>
	<option value="audi">C</option>
	<option value="saab">D</option>
	<option value="opel">E</option>
	<option value="audi">F</option>
	<option value="saab">G</option>
	<option value="opel">H</option>
	<option value="audi">I</option>
	<option value="audi">J</option>
	<option value="audi">K</option>
	<option value="audi">L</option>
	<option value="audi">M</option>
	<option value="audi">N</option>
	<option value="audi">O</option>
	<option value="audi">P</option>
	<option value="audi">Q</option>
	<option value="audi">R</option>
	<option value="audi">S</option>
	<option value="audi">T</option>
	<option value="audi">U</option>
	<option value="audi">V</option>
	<option value="audi">W</option>
	<option value="audi">X</option>
	<option value="audi">Y</option>
	<option value="audi">Z</option>
	<input type="checkbox" name="favorite_pet" value="Cats">Cats<br>      
	<input type="checkbox" name="favorite_pet" value="Dogs">Dogs<br>      
	<input type="checkbox" name="favorite_pet" value="Birds">Birds<br>    
  </select>

  <select>
	<option value="all">All</option>
	<option value="action">Action</option>
	<option value="adventure">Adventure</option>
	<option value="comedy">Comedy</option>
	<option value="documentary">Documentary</option>
	<option value="drama">Drama</option>
	<option value="family">Family</option>
	<option value="fantasy">Fantasy</option>
	<option value="horror">Horror</option>
	<option value="reality">Reality-TV</option>
	<option value="romance">Romance</option>
	<option value="sci-fi">Sci-Fi</option>
	<option value="triller">Triller</option>
	<option value="war">War</option>
  </select>

  <select>
	<option value="popularity">Popularity</option>
	<option value="newest">Recent</option>
	<option value="rating">Rating</option>
	<option value="title">Title</option>
	<option value="title">Year</option>
  </select>