<div class="wrapper">
			<main class="main">
				<article class="main__gallery">

				</article>

			</main>

			<span class="span__to-top">
				<a class="span__a-to-top fas fa-chevron-circle-up" href="#to-top"></a>
			</span>

		</div>