<nav class="sidebar-nav">
		<div class="logo">
			<h1>Ph00</h1>
		</div>
		<div class="sidebar">
			<a href="home"><i class="fa fa-fw-5x fa-home fa-2x"></i> <br> Home</a>
			<a href="movies"><i class="fa fa-fw fa-video-camera fa-2x"></i> <br> Movies</a>
			<a href="tvseries"><i class="fa fa-fw fa-tv fa-2x"></i> <br> TV Series</a>
			<a href="newepisodes"><i class="fa fa-fw fa-tv fa-2x"></i> <br> New <br> Episodes</a>
			<a href="livetv"><i class="fa fa-fw fa-tv fa-2x"></i> <br> Live TV</a>
			<a href="favorites"><i class="fa fa-fw fa-heart fa-2x"></i> <br> Favorites</a>
			<a href="faq"><i class="fa fa-fw fa-question fa-2x"></i> <br> FAQ</a>
			<a href="contact"><i class="fa fa-fw fa-envelope fa-2x"></i> <br> Contact</a>
		</div>
	</nav>