<div class="removescroll">
<dl class="dropdown dropdown-1"> 
	<dt>
	<a href="#">
		<span class="hida">ABC:&nbsp All</span>  
		<p class="multiSel"></p>  
	</a>
	</dt>
	
	<dd>
		<div class="mutliSelect">
			<ul>
				<li>
					<input type="checkbox" value="All" />All</li>
				<li>
					<input type="checkbox" value="A" />A</li>
				<li>
					<input type="checkbox" value="B" />B</li>
				<li>
					<input type="checkbox" value="C" />C</li>
				<li>
					<input type="checkbox" value="D" />D</li>
				<li>
					<input type="checkbox" value="E" />E</li>
				<li>
					<input type="checkbox" value="F" />F</li>
				<li>
					<input type="checkbox" value="G" />G</li>
				<li>
					<input type="checkbox" value="H" />H</li>
				<li>
					<input type="checkbox" value="I" />I</li>
				<li>
					<input type="checkbox" value="J" />J</li>
				<li>
					<input type="checkbox" value="K" />K</li>
				<li>
					<input type="checkbox" value="L" />L</li>
				<li>
					<input type="checkbox" value="M" />M</li>
				<li>
					<input type="checkbox" value="N" />N</li>
				<li>
					<input type="checkbox" value="O" />O</li>
				<li>
					<input type="checkbox" value="P" />P</li>
				<li>
					<input type="checkbox" value="Q" />Q</li>
				<li>
					<input type="checkbox" value="R" />R</li>
				<li>
					<input type="checkbox" value="S" />S</li>
				<li>
					<input type="checkbox" value="T" />T</li>
				<li>
					<input type="checkbox" value="U" />U</li>
				<li>
					<input type="checkbox" value="W" />W</li>
				<li>
					<input type="checkbox" value="X" />X</li>
				<li>
					<input type="checkbox" value="Y" />Y</li>
				<li>
					<input type="checkbox" value="Z" />Z</li>
					<br>
			</ul>
		</div>
	</dl>


	<dl class="dropdown dropdown-2"> 
			<dt>
			<a href="#">
				<span class="hida">Select Genre</span>    
				<p class="multiSel"></p>  
			</a>
			</dt>
			
			<dd>
				<div class="mutliSelect">
					<ul>
						<li>
							<input type="checkbox" value="All" />All</li>
						<li>
							<input type="checkbox" value="Action" />Action</li>
						<li>
							<input type="checkbox" value="Adventure" />Adventure</li>
						<li>
							<input type="checkbox" value="Comedy" />Comedy</li>
						<li>
							<input type="checkbox" value="Documentary" />Documentary</li>
						<li>
							<input type="checkbox" value="Drama" />Drama</li>
						<li>
							<input type="checkbox" value="Family" />Family</li>
						<li>
							<input type="checkbox" value="Fantasy" />Fantasy</li>
						<li>
							<input type="checkbox" value="Horror" />Horror</li>
						<li>
							<input type="checkbox" value="Reality-TV" />Reality-TV</li>
						<li>
							<input type="checkbox" value="Romance" />Romance</li>
						<li>
							<input type="checkbox" value="Sci-Fi" />Sci-Fi</li>
						<li>
							<input type="checkbox" value="Thriller" />Thriller</li>
						<li>
							<input type="checkbox" value="War" />War</li>
							<br>
					</ul>
				</div>
			</dl>

		
			<div class="dropdown-3">
				
			<ul class="list-unstyled">
					<li class="init">Sort By:&nbsp Popularity</li>
					<li class="pushdown" data-value="value 1">Popularity</li>
					<li data-value="value 2">Recent</li>
					<li data-value="value 3">Rating</li>
					<li data-value="value 4">Year</li>
				</ul>
			</div>

			<button class="soryByBtn">Apply</button>


		</div>