                    <div class="header">
                        <div class="searchbar">
                            <input type="text" placeholder="Search..">
                            <hr>
                        </div>
                    </div>