/*----------------- grid layout -----------------*/

.page-wrapper {
    /* width: 100vw; */
    background-color: rgb(41, 41, 41);
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 115px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar maincontent"
}

.header {
    grid-area: header;
}

.sidebar-wrapper {
    grid-area: sidebar;
}

.content-wrapper {
    grid-area: maincontent;
}


/*---------- top navigation (filter)--------------*/

.header {
    /* height: 15%; */
    height: 70px;
    background-color: #111;
    position: sticky;
    top:0;
    z-index: 5;
    /* width: 100%; */
}

.searchbar {
    /* width: 30%; */
    padding-top: 1%;
    margin-left: 10%;
}

.searchbar input{
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 14px;
    z-index: 1;
    color: white;
    width: 25%;
    
}

.searchbar hr{
    margin-bottom: 1px;
    width: 25%;
    position: fixed;
}




/*------------- sidebar --------------*/

.sidebar-wrapper {

    text-align: center;
}

.sidebar-nav .logo{
    width: 120px;
    font-size: 24px;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    font-family: 'Pacifico', cursive;
    color: #fff; 
}

.sidebar-nav .logo h1{
    margin-top: 0;
}

.sidebar {
    width: 120px;
    position: fixed;
    z-index: 15;
    background-color: #111;
    overflow-x: hidden;
}

.sidebar .fa {
    padding-bottom: 3px;
}

.sidebar a {
    padding: 24px 20px 24px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #fff9;
    display: block;
    transition: 0.6s;
    
}


.sidebar a:hover {
    color: #f1f1f1;
    background-color: #1E90FF;
}

.main {
    margin-left: 125px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
