.main__gallery{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap:10px
}
.imgContainer{
	overflow:hidden;
	position:relative;
	height:100%;
}

.movie-overlay{
	display:grid;
	grid-template-rows:20% 1fr 15%;
	grid-template-columns: 1fr;
	grid-template-areas:
	"name"
	"empty"
	"rating-year";
	opacity:0;
	position:absolute;
	height:100%;
	width:100%;
	background-color:#000000bb;
}

.movie-name{
	grid-area:name;
	opacity:1;
	z-index:1000;
	text-align:center;
	align-self:center;
	color:white;
}

.movie-rating-year-container{
	grid-area:rating-year;
	display:flex;
	justify-content:space-between;
	padding:0 12px;
	align-items:center;
	color:white;
	font-size:14px;
}

.movie-rating{
	border:1px white solid;
	padding: 0 8px;
	text-align:center;
}

.movie-rating i{
	font-size:13px;
}


.imgContainer__img--style{
	width:100%;
	height:100%;
	object-fit:cover;
	transition:transform 1.2s ease
}
.imgContainer__img--clicked{
	transform:scale(1.07);
	transition:transform 1.2s ease
}
@media(min-width: 460px){
	.main__gallery{
		grid-template-columns:1fr 1fr 1fr;
		padding:15px 0;
	}
}
@media(min-width: 610px){
	.main__gallery{
		grid-template-columns:1fr 1fr 1fr 1fr
	}
}
@media(min-width: 750px){
	.main__gallery{
		grid-template-columns:1fr 1fr 1fr 1fr 1fr
	}
}
@media(min-width: 1000px){
	.main__gallery{
		grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;	
		
	}
}
