

  .dropdown {
	margin-left: 10%;
	position: absolute;
	left: 0%;
  }

  .dropdown-2 {
	position: absolute;
	left: 20%;
  }
  
  .dropdown-3 {
	position: absolute;
	left: 50%;
  }

  a {
	color: #fff;
  }
  
  .dropdown dd,
  .dropdown dt {
	margin: 0px;
	padding: 0px;
  }
  
  .dropdown ul {
	margin: -1px 0 0 0;
  }
  
  .dropdown dd {
	position: relative;
  }
  
  .dropdown a,
  .dropdown a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 12px;
  }
  
  .dropdown dt a {
	background-color: rgb(50, 50, 50);
	display: block;
	padding: 8px 20px 0px 8px;
	overflow: hidden;
	border: 0;
	width: 225px;
  }
  
  .dropdown dt a span,
  .multiSel span {
	cursor: pointer;
	display: inline-block;
  }
  
  .dropdown-1 dd ul, .dropdown-2 dd ul{
	background-color: rgb(50, 50, 50);
	border: 0;
	color: #fff;
	display: none;
	left: 0px;
	padding: 5px 5px 2px 5px;
	position: absolute;
	top: 3.5px;
	width: 243px;
	height: 360px;
	overflow: auto;
  }

  li {
	list-style-type: none;
  }
  
  .dropdown span.value {
	display: none;
  }
  
  .dropdown dd ul li a {
	padding: 0px;
	display: block;
  }
  
  .dropdown dd ul li a:hover {
	background-color: #fff;
  }
  
  .soryByBtn {
	background-color: #6BBE92;
	width: 100px;
	border: 0;
	padding: 11px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	left: 65%;
	margin-top: 16px;
  }



  .dropdown-3 dd ul option {
	cursor: pointer;
  }

  .list-unstyled { 
    height: 29px;
	background-color: rgb(50, 50, 50);
	display: block;
	padding: 8px 20px 0px 0px;
	position: absolute;
	width: 130px;
	color:white;
}

.init { 
    margin-bottom: 2px;
}

.list-unstyled li { padding: 0px 0px; z-index: 2; padding-left: 10px; padding-bottom: 6px;}
.list-unstyled li:not(.init) { float: left; width: 140px; display: none; background: rgb(50, 50, 50);}
.list-unstyled li.init { cursor: pointer; font-size: 12px; }
.list-unstyled li:hover:not(.init) { cursor: pointer; background-color: rgb(39, 39, 39);;}
.list-unstyled .pushdown { margin-top: 6.5px;}


a#submit { z-index: 1; }


.searchbar {
    /* width: 30%; */
    /* padding-top: 1%; */
    margin-left: 78%;
}

.removescroll ::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
}

.removescroll ::-webkit-scrollbar-thumb {
	border-radius: 0px;

}
