<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include('partials/head.ejs') %>
	<title>Document</title>
</head>
<body>
   <div class="page-wrapper">
        
        <!-- header -->
        <header class="header">
            <!-- logo -->

            <!-- top navigation (filter) -->
            <nav class="filter-nav">

            </nav>

        </header>

        <!-- sidebar -->
        <div class="sidebar-wrapper">

            <!-- sidebar navigation -->
            <nav class="sidebar-nav">

            </nav>

        </div>

		<%- include('partials/movie-grid-design.ejs')%>






    </div>   <!-- page-wrapper ends -->


    <%- include('partials/scripts.ejs') %>

</div>
	
</body>
</html>